# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.egg-info/
build/
dist/

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Virtual environments
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store


# Ignore generated plots and data files
*.png


# Generated outputs
*.png
mass_set_*.
